@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.primary-button {
  @apply rounded bg-gray-400 py-2 px-4 shadow outline-none hover:bg-green-500  active:bg-white;
}
.default-button {
  @apply rounded bg-teal-400 py-2  px-4 text-yellow-200 shadow outline-none hover:bg-blue-700  active:bg-gray-300;
}

.button1 {
  @apply rounded bg-blue-200 py-2 px-4 shadow outline-none hover:bg-green-500  active:bg-white;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.carousel-image {
  height: 400px; /* Adjust the height as needed */
  width: auto;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.welcome-header {
  font-size: 45px; /* Set the font size to a really big value */
  text-align: center;
  @apply my-3 rounded-lg bg-blue-300 p-3 text-yellow-100;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: .0; /* Start from 0 opacity */
  }
  to {
    opacity: 1; /* Fade in to 100% opacity */
  }
}

.sliding-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hides the menu off-screen */
  width: 40%; /* Adjust the width as desired */
  height: 100vh; /* Takes up the full height of the screen */
  background-color: #e9f1ff
  ; /* Set the background color */
  transition: left 0.3s ease; /* Add a smooth sliding animation */
  z-index: 9999
}

.menu-content {
  padding: 1rem; /* Add padding to the menu content */
}

.button1 {
  margin: 1rem;
  position: sticky;
  top: 20px; /* Adjust the top position according to your needs */
  right: 20px;
  border-radius: 9999px;
}

.menu-open {
  left: 0; /* Shows the menu by bringing it to the left side of the screen */
}

.full-screen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sticky{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


