@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-black hover:text-gray-800;
}

.heading {
  @apply text-black hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md ;
}

.card1 {
  @apply mb-5  block flex items-center  rounded-lg border border-gray-200  shadow-md ;
}

.primary-button {
  @apply rounded bg-blue-500 py-2 px-4 shadow outline-none hover:bg-blue-600 active:bg-blue-700;
}
.primary-button2 {
  @apply rounded bg-green-700 py-2 px-4 shadow outline-none hover:bg-green-800 active:bg-green-900;
}
.primary-button3 {
  @apply rounded bg-white py-2 px-4 shadow outline-none hover:bg-blue-500 active:bg-blue-600;
}
.primary-button1 {
  @apply rounded bg-sky-200 py-2 px-4 shadow outline-none hover:bg-sky-300  active:bg-sky-400;
}
.primary-button4 {
  @apply rounded bg-sky-800 py-2 px-4 shadow outline-none hover:bg-sky-900  active:bg-sky-950;
}
.primary-button6 {
  @apply rounded bg-gray-400 py-2 px-4 shadow outline-none hover:bg-gray-500 active:bg-gray-800;
}
.primary-button7 {
  @apply rounded bg-green-400 py-2 px-4 shadow outline-none hover:bg-green-500 active:bg-green-800;
}
.primary-button8 {
  @apply rounded bg-sky-100 py-2 px-4 shadow outline-none hover:bg-sky-200 active:bg-sky-400;
}
.default-button {
  @apply rounded bg-blue-500 py-2  px-4 text-yellow-200 shadow outline-none hover:bg-blue-700  active:bg-gray-300;
}

.button1 {
  @apply rounded bg-gray-100 py-2 px-4 shadow outline-none active:bg-white hover:bg-gray-200;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.alert-warning-2 {
  @apply my-3 rounded-lg bg-pink-100 p-3 text-pink-700;
}

.carousel-image {
  height: auto; /* Adjust the height as needed */
  width: auto;
  object-fit: contain; /* Maintain aspect ratio and cover the container */
}

.carousel-image-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 0px;
  white-space: nowrap;
}

.welcome-header {
  font-size: 45px; /* Set the font size to a really big value */
  text-align: center;
  @apply my-3 rounded-lg bg-blue-900 p-3 text-yellow-100;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: .0; /* Start from 0 opacity */
  }
  to {
    opacity: 1; /* Fade in to 100% opacity */
  }
}

.sliding-menu {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hides the menu off-screen */
  width: 40%; /* Adjust the width as desired */
  height: 100vh; /* Takes up the full height of the screen */
  background-color:    #4B7DC7   ;
  ; /* Set the background color */
  transition: left 0.5s ease; /* Add a smooth sliding animation */
  z-index: 9999
}

@media (min-width: 768px) {
  .sliding-menu {
    width: 15%; /* Adjust the width for larger screens */
    left: -100%; /* Initially hides the menu off-screen for larger screens */
  }
}

.menu-content {
  padding: 1rem; /* Add padding to the menu content */
}

.button1 {
  margin: 1rem;
  position: sticky;
  top: 20px; /* Adjust the top position according to your needs */
  right: 20px;
  border-radius: 9999px;
  margin-left: 1rem;
}

.menu-open {
  left: 0; /* Shows the menu by bringing it to the left side of the screen */
}

.full-screen {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* Adjustments for smaller screen sizes */
@media (max-width: 300px) {
  .sticky-header {
    flex-direction: column;
  }

  .sticky-header > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .sticky-header > *:first-child {
    margin-top: 0;
  }

  .sticky-header > *:last-child {
    margin-bottom: 0;
  }

  .sticky-header .flex.items-center.z-10 {
    flex-wrap: wrap;
    justify-content: flex-start; /* Changed from 'center' to 'flex-start' */
    gap: 1rem; /* Added gap between elements */
  }

  .sticky-header .relative.ml-4 {
    margin-left: 0;
    margin-top: 1rem; /* Added margin-top to create space between elements */
  }
}

.links {
  @apply rounded bg-green-400 py-2 px-4 shadow outline-none hover:bg-orange-600  active:bg-white;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid #01000d;
  cursor: pointer;
  background-color: #002271f8;
}

.pagination button.active {
  background-color: #001b43;
  color: white;
}

.full-spanning-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.full-width-button {
  flex-grow: 1;
  width: 100%;
}

.hagu{
  position: sticky;
top: 0
}

/* Button Styles */
.see-details-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s;
}


.buttonx {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.seedetails:hover {
  background-color: #1750A3;
}

.seedetails{
    @apply rounded;
    background-color : #1854AA;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;

}
.image-overlay1 {
  position:absolute;
  top: 10%;
  left: 90%;
  transform: translate(-70%, -10%);
  background-color: white;
  padding: 20px;
  block-size: auto;
}

.image-overlay-text {
  color: black;
  font-size: 16px;
  margin: 0;
}


/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: none
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: "white";}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display:inline-block}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: "white";}


.dropbtn img,
.dropdown-content a img {
  height: 250px;
  width: 250px;
}

@media (max-width: 768px) {
  .dropbtn img,
  .dropdown-content a img {
    height: 150px;
    width: 150px;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* Base styles for everything */
* {
  box-sizing: border-box;
  /* Add other common styles for all elements here */
}

/* Styles for larger screens */
@media (min-width: 768px) {
  * {
    font-size: 16px; /* Set a smaller font size for everything on larger screens */
    /* Add other styles specific to larger screens here */
  }
}

/* Styles for mobile screens */
@media (max-width: 767px) {
  /* Add any specific styles for mobile screens here */
}
html,body{
  overflow-x: hidden;
}


















