@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5  block   rounded-lg border border-gray-200  shadow-md;
}

.primary-button {
  @apply rounded bg-lime-500 py-2 px-4 shadow outline-none hover:bg-yellow-500  active:bg-white;
}
.default-button {
  @apply rounded bg-teal-400 py-2  px-4 text-yellow-200 shadow outline-none hover:bg-blue-700  active:bg-gray-300;
}

.button1 {
  @apply rounded bg-orange-400 py-2 px-4 shadow outline-none hover:bg-amber-400  active:bg-amber-500;
}

input,
select,
textarea {
  @apply rounded border p-2  outline-none ring-indigo-300  focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.carousel-image {
  height: 400px; /* Adjust the height as needed */
  width: auto;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.welcome-header {
  font-size: 45px; /* Set the font size to a really big value */
  text-align: center;
  @apply my-3 rounded-lg bg-blue-300 p-3 text-yellow-100;
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 2s ease-in-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: .0; /* Start from 0 opacity */
  }
  to {
    opacity: 1; /* Fade in to 100% opacity */
  }
}

.sidebar-open {
  width: fit-content; /* Adjusts the width to fit the content */
  max-width: 80%; /* Limit the maximum width of the panel */
  overflow: hidden; /* Hides any overflowing content */
}

.sidebar-closed {
  width: 8; /* Set a fixed width for the closed state */
  overflow: hidden; /* Hides any overflowing content */
}

